@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Manrope';
    src: url('assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
  }
}

body {
  background-color: #F7F9FA;
}